<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <p><strong>This is the first page</strong></p>
    
    <p>TWEET - This is the first data taken from the online database :</p>
    
    {% for tweet in tweets %}
        <ol>
            <li>{{ tweet.text             }}</li>
            <li>{{ tweet.likes            }}</li>
            <li>{{ tweet.username         }}</li>
            <li>{{ tweet.retweet_count    }}</li>
            <li>{{ tweet.reply_count      }}</li>
            <li>{{ tweet.retweeted        }}</li>
        </ol>
    {% endfor %}
    
    <p>NEWS - This is the first data taken from the online database :</p>
    
    {% for article in articles %}
        <ol>
            <li>{{ article.source.name      }}</li>
            <li>{{ article.author           }}</li>
            <li>{{ article.title            }}</li>
            <li>{{ article.description      }}</li>
            <li>{{ article.url              }}</li>
            <li>{{ article.urlToImage       }}</li>
            <li>{{ article.publishedAt      }}</li>
        </ol>
    {% endfor %}
    
    
</body>
</html>